body{
    background-image: none;
}
.gooster-map{
    overflow: hidden;
}
#map{
    right: 0;
    position: absolute;
    width: 85%;
    height: 100vh;
    border-left: 2px solid #4a4a4a;
}
.gooster-map-menu{
    width: 15%;
    position: absolute;
    left: 0;
    height: 100vh;
    top: 0;
    background-color: cadetblue;
}
.gooster-map-menu > div:first-child > img{
    width: auto;
    height: auto;
    max-width: 65%;
    margin-top: 20px;
    margin-left: 40px;
}
.site-mascote{
    position: absolute;
    bottom: 10px;
    animation:cats 2s infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes cats {
    from{left: 30px;}
    to{left: 170px;}
}

.item-tabs{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
}
.item-tab{
    width: 50%;
    text-align: center;
    height: 50px;
    padding: 10px;
    line-height: 50px;
}
.item-tab:first-child{
    border-right: 1px solid #cdcdcd;
}
.item-tab:not(.checked-item-tab):hover{
    border-top: 1px solid #cdcdcd;
}

.list-of-places-to-choose{
    height: 45%;
    border-bottom: 1px solid #cdcdcd;
    overflow-y: auto;
}

.list-of-places-to-choose > div{
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-bottom: 1px solid #222222;
}

.list-of-places-to-choose .checked-place{
    background-color: darkgreen;
    font-size: 20px;
}

.list-of-places-to-choose::-webkit-scrollbar {
    width: 0;
}

.list-of-results{
    height: 73%;
    overflow-y: auto;
}

.list-of-results::-webkit-scrollbar {
    width: 0;
}

.list-of-results > div{
    border-bottom: 2px solid #cdcdcd;
    padding-bottom: 20px;
    padding-top: 20px;
}

.list-of-results > div > p{
    text-align: center;
    font-size: 18px;
}

.list-of-results > div:hover{
    background-color: #4bc970;
}

.add-fav-button{
    width: 80%;
    background-color: steelblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    position: relative;
}
.checked-item-tab{
    background: rgba(255,255,255,.1);
}
.logout-button{
    width: 100px;
    height: 30px;
    font-size: 18px;
    background-color: lightslategrey;
    color: #fff;
    border: 1px solid #cdcdcd;
    position: absolute;
    left: 280px;
    z-index: 99999;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
}
