<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gooșter Hărț</title>
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="RegisterStyle.css">
    <link rel="icon" href="../assets/images/guster.png">
</head>
<body>

<div class="header-menu">
    <p>Gooșter Hărț' | Search into the wild...</p>
    <ul>
        <li class="pointer"><a href="../main/MainView.html">About</a></li>
        <li class="pointer"><a href="../register/RegisterView.html">Register</a></li>
        <li class="pointer"><a href="../index.html">Login</a></li>
    </ul>
</div>

<form action="index.html" method="post" ng-controller="SignupController">

    <h1>Sign Up</h1>

    <fieldset>
        <legend>Your basic info</legend>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name">

        <label for="mail">Email:</label>
        <input type="email" id="mail" name="user_email">

        <label for="password">Password:</label>
        <input type="password" id="password" name="user_password">
    </fieldset>
    <fieldset class="signup-preferences">
        <label>Interests:</label>
        <div class="list-of-preferences">
            <div ng-repeat="preference in preferences">
                <input type="checkbox" ng-model="preference.check"><label class="light" >{{preference.location}}</label>
            </div>
        </div>
    </fieldset>
    <button type="submit">Sign Up</button>
</form>
<script src="../bower_components/angular/angular.js"></script>
<script>
    (function(){
        'use strict';
        angular.module('app', [])
            .controller('SignupController', ['$scope', signupController]);
        function signupController($scope) {

            $scope.preferences = [
                {
                    location: 'Mall',
                    check: false
                },
                {
                    location: 'Academic',
                    check: false
                },
                {
                    location: 'Food',
                    check: false
                },
                {
                    location: 'Supermarket',
                    check: false
                },
                {
                    location: 'Drink',
                    check: false
                },
                {
                    location: 'Caffeteria',
                    check: false
                },
                {
                    location: 'Internet Cafe',
                    check: false
                },
                {
                    location: 'Hospital',
                    check: false
                },
                {
                    location: 'Police',
                    check: false
                },
                {
                    location: 'Auto Service',
                    check: false
                },
                {
                    location: 'Hotels',
                    check: false
                },
                {
                    location: 'Parking Lot',
                    check: false
                },
                {
                    location: 'Banks',
                    check: false
                },
                {
                    location: 'ATM',
                    check: false
                },
                {
                    location: 'Pharmacy',
                    check: false
                },
                {
                    location: 'Post Office',
                    check: false
                },
                {
                    location: 'Club',
                    check: false
                },
                {
                    location: 'Parks',
                    check: false
                },
                {
                    location: 'Churches',
                    check: false
                }
            ]
        }
    })();
</script>

</body>
</html>