<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Gooșter Hărț</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="GoosterStyle.css">
    <link rel="stylesheet" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../assets/images/guster.png">
</head>
<body>
<div class="gooster-map" ng-controller="GoosterController">
    <div class="gooster-map-menu">
        <div>
            <img src="../assets/images/guster.png">
        </div>
        <div class="item-tabs">
            <div class="item-tab">Places</div>
            <div class="item-tab">People</div>
        </div>
        <div class="site-mascote">
            <img src="../assets/images/cats.gif">
        </div>
    </div>
    <div id="map"></div>
</div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 47.1713741, lng: 27.5720664},
            zoom: 15
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjdSb7G5wboVeGG-e6YLbj_DyRsHswwB8&callback=initMap"
        async defer></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../app.js"></script>
<script src="GoosterController.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
</body>
</html>
