<!doctype html>
  <html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Gooșter Hărț</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="login/LoginStyle.css">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="assets/images/guster.png">
  </head>
  <body>
    	<div class="header-menu">
	    <p>Gooșter Hărț' | Search into the wild...</p>
	    <ul>
		<li class="pointer"><a href="main/MainView.html">About</a></li>
		<li class="pointer"><a href="register/RegisterView.html">Register</a></li>
		<li class="pointer"><a href="index.html">Login</a></li>
	    </ul>
	</div>
	<div class="login-form">
	    <img src="../assets/images/logo.png">
	    <div class="login-subtitle">
		<i class="fa fa-user-o" aria-hidden="true" style="font-size: 20px;"></i>
		<p>USER LOGIN</p>
	    </div>
	    <div>
		<div class="login-inputs">
		    <input type="email" placeholder="Enter your email address">
		    <input type="password" placeholder="Enter your password">
		</div>
		<div class="login-form-footer">
		    <a class="pointer" href="http://i3.kym-cdn.com/photos/images/original/001/125/072/6d1.jpg">Need help?</a>
		    <div class="pointer"><a href="gooster/GoosterView.html">Login</a></div>
		</div>
	    </div>
	    <a class="pointer" href="register/RegisterView.html">Create Account</a>
	</div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="login/LoginController.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  </body>
</html>
