<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Gooster Hartz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="stylesheet" href="../static/main/MainStyle.css">
</head>
<body>
    <div class="main-container">
        <div class="header-menu">
            <p>Gooșter Hărț' | Search into the wild...</p>
            <ul>
                <li class="pointer"><a href="{% url 'index' %}">About</a></li>
                <li class="pointer"><a href="{% url 'register' %}">Register</a></li>
                <li class="pointer"><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </div>
        <div class="title-main">
            Gooșter Hărț'
        </div>
        <div class="subtitle-main">Search into the wild... or just in your proximity</div>
    </div>
    <div class="guster-text">
        Aceasta este proiectul nostru la TW. Aplicatia consta dintr-o interfata ce contine o harta similara Googla Maps, ce afiseaza locatii de interes
        in functie de anumite preferinte. De asemenea, afiseaza locatia personelor dintr-o lista de prieteni care sunt in apropiere.
        </br></br>
        GÚȘTER, gușteri, s. m. 1. Specie de șopîrlă de culoare verde, care se hrănește cu insecte (Lacerta viridis). Puii ei... erau balauri, șerpi, nevăstuici, ciuhurezi, șopîrle, năpîrci și gușteri. ISPIRESCU, L. 348. Toate lighioanele... ba chiar șerpii, gușterii și șopîrlele, toate i se arătau lui în cale. ODOBESCU, S. III 185. ♦ Fig. Termen de ocară pentru oameni. Auzi, gușterul de ciocoi ! Cică e dreptul lui ! DUMITRIU, B. F. 67. Aha, gușter bătrîn, va să zică tu îl trimiteai să fure ? PAS, Z. I 200. 2. (Regional) Gîtlej; esofag. Pe urmă, după alt răstimp, a bolborosit din gușter. SADOVEANU, N. p. 89. ♦ Omușor. (Atestat în forma regională gîșter) Nu striga... are să-ți sară gîșterul. CAMILAR, N. II 299. 3. (Med. pop.) Crup. – Variantă: (regional) gî́șter s. m.</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../static/app.js"></script>
    <script src="../static/main/MainController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
</body>
</html>
